nav {
    background-color: #AAA;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    background-color: #ddd;
    color: #000;
}

nav a.active {
    background-color: rgb(255, 255, 255);
    color: #000;
}