<div class="container mt-3 mb-3">
    <div class="d-flex w-100">
        <h2 class="mr-2">{{ book.title }}</h2>
        <div class="my-auto">
            <small class="text-muted">{{ book.quantity | i18nPlural: messageMapping }} available</small>
        </div>
    </div>
    <small class="text-muted">ISBN {{ book.isbn }}</small>
    <h5 class="text-muted">By {{ book.author }}</h5>
    <img class="max-height-540 img-fluid mr-3" src="{{ book.frontCover }}" />
    <img class="max-height-540 img-fluid" src="{{ book.backCover }}" />
    <p>
        {{ book.desc }}
    </p>
</div>
